<div class="d-flex justify-content-center" style="padding: 25px;">
<div class="card" style="width: 35rem; padding-bottom: 50px;" class="justify-center w-50 p-3 border-primary">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h4>Edit your Treat Yo Self Cycle</h4>
<%= render 'form'%>
</div>
</div>
</div>