<div class="d-flex justify-content-center pb-3">
<div class="card" style="width: 35rem;" class="justify-center w-50 p-3 border-primary">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h1>Sign up:</h1>
<%= render 'form'%>
  <%=link_to "Sign in", login_path, class: "card-link"%>

</div>
</div>
</div>

