<footer class="footer container-fluid" style="position: fixed; width: 100%;">
      <div class="container-fluid">
        <span class="text-muted">Treat Yo Self - Created by <%=link_to "jackcooper1245", "https://github.com/jackcooper1245"%></span>
      </div>
</footer>